html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary);
}

:root {
    --global-width: 310px;
    --global-height: 450px;
    --primary: #f6f4e7;
    --secondary:#654E92;
    --footer:#6C9BCF;
}
